body {
  background-color: gray;
  font-family: Roboto;
  width: 373px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
body:before{
    display: block;
    content: " ";
    height: 20px;
    background:white;
    color: black;
}
.menu {
  background-color: white;
  height: 45px;
}
.map {
  background-color: white;
  width: 100%;
  height: 208px;
}
.arrow {
  display: inline-block;
  color: #FF2D55;
  padding-left: 3%;
  padding-bottom: 2%;
}
.bus{
  display: inline-block;
  color: #FF2D55;
  padding-left: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.text {
  display: inline-block;
  text-align: center;
  color: #FF2D55;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
}
.star {
  display: block;
  float: right;
  color: #FF2D55;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
}
.time {
  background-color: white;
  padding: 4%;
}
.location {
  box-sizing: border-box;
  margin-top: 1%;
}
.location:hover {background: #DADADA;}
.column-left {
  border-sizing: border-box;
  float: left;
  width: 25%;
  padding: 1%;
  font-size: 14px;
}
.column-right {
  border-sizing: border-box;
  float: right;
  width: 25%;
  padding: 1%;
  font-size: 14px;
}
.column-center {
  border-sizing: border-box;
  display: inline-block;
  width: 25%;
  padding: 1%;
  font-size: 14px;
}
.line-left {
  float: left;
  font-size: 10px;
  width: 25%;
  padding: 1%;
}
.destination-center {
  display: inline-block;
  width: 25%;
  font-size: 10px;
  padding: 1%;
}
.frequency-right{
  float: right;
  width: 25%;
  padding: 1%;
  font-size: 10px;
}
.content {
  text-align: center;
  color: white;
  background-color: #FF2D55;
  border-radius: 10px;
  padding: .5%;
  margin-top: 2%;
  width: 30%;
  margin-bottom: 2%;
  font-size: 15px;
}
.time {
  border-bottom: 1px solid #C8C7CC;
  box-sizing: border-box;
}
.navbar {
  display: inline-block;
  position: no-repeat;
  width: 100%;
  margin: 0 auto;
  background-color: #F9F8FC;
  color: #FF2D55;
  text-align: center;
  padding: 0px 0px 0px 0px;
}
.alarm-clock {
  float: left;
  width: 25%;
  padding: 1%;
  font-size: 12px;
}
.star-two {
  display: inline-block;
  width: 25%;
  padding: 1%;
  font-size: 12px;
}
.account {
  float: right;
  width: 25%;
  padding: 1%;
  font-size: 12px;
}
.my-stop {
  float: left;
  width: 25%;
  padding: 1%;
  font-size: 12px;
}
.reminders {
  display: inline-block;
  width: 25%;
  padding: 1%;
  font-size: 12px;
}
.my-account {
  float: right;
  width: 25%;
  padding: 1%;
  font-size: 12px;
}
.bottom-bar {
  background-color: #F9F8FC;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
}
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
}
